{% extends 'layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="error"><p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p></div>
{% endblock fos_user_content %}
